body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background-color: ghostwhite;
}

a {
  color: cornflowerblue;
}

table {
  border-collapse: collapse;
}
table th,
table td {
  border: solid 1px black;
}
